<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mega.mapper.megaMapper">
	
	<select id="getCate" resultType="com.mega.entity.t_category">
		select * from t_category
	</select>
	
	<select id="getMenus" resultType="com.mega.entity.t_menu" parameterType="com.mega.entity.t_menu">
		select * from t_menu where category_seq = #{category_seq}
	</select>
	
	<select id="getCorrespMenu" parameterType="java.lang.Integer" resultType="com.mega.entity.t_menu">
		SELECT *
		FROM t_menu
		where menu_seq = #{menu_seq}
	</select>
	
	<select id="getAllMenus" resultType="com.mega.entity.t_menu">
		SELECT * 
		FROM t_menu
	</select>
	
</mapper>
